<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283167393304-s9v8s454lp4vhn7u8q97ovqhpufpv6gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283167393304-s9v8s454lp4vhn7u8q97ovqhpufpv6gt</string>
	<key>API_KEY</key>
	<string>AIzaSyAt8o1gfo9t-jMLVI_N6P3OR1v_Hp71WFs</string>
	<key>GCM_SENDER_ID</key>
	<string>283167393304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitplus</string>
	<key>PROJECT_ID</key>
	<string>fitplus-fcad4</string>
	<key>STORAGE_BUCKET</key>
	<string>fitplus-fcad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283167393304:ios:7e4fcf3d0054749538256d</string>
</dict>
</plist>